In [44]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 하나 모든 타입을 리스트에 담을 수 있음
# 리스트 표현 : [요소1, 요소2, 요소3, ..........]

In [45]:
array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [46]:
array[0]

1

In [47]:
array[-1] # 제일 끝에 있는 것부터 값 반환

True

In [82]:
array[4] # 범위 벗어날 시 예외 발생

IndexError: list index out of range

In [49]:
for item in array:
    print(item)

1
3.14
문자열
True

In [50]:
# 연습문제
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때 리스트에서 최대값, 최소값, 평균, 분산을 출력하시오.
# 분산 = (요소값 - 평균)^2 / 리스트 개수
numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

In [51]:
# 최대값
max = float("-Inf")

for number in numbers:
    if number > max:
        max = number
max

10.3

In [52]:
# 최소값
min = float("Inf")

for number in numbers:
    if number < min:
        min = number
min

3.2

In [53]:
# 평균
sum = 0

for number in numbers:
    sum += number
avg = round(sum / len(numbers), 2)
avg

6.04

In [54]:
# 분산
sum = 0

for number in numbers:
    sum += (number - avg) ** 2
dispersion = round(sum / len(numbers), 2)
dispersion

7.23

========================================================================================================================================================

In [55]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [56]:

len(numbers)

5

========================================================================================================================================================

In [57]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

========================================================================================================================================================

In [59]:
# 리스트에 요소 추가하기

In [61]:
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음

numbers.append(99)
numbers

[0, 1, 2, 3, 4, 99]

In [62]:
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음

numbers.insert(0, -100)
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [63]:
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음

numbers.extend([123, 321])
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 321]

========================================================================================================================================================

In [64]:
# 리스트에서 요소 삭제

In [65]:
# del 요소 : 요소를 메모리 상에서 제거

del numbers[0]
numbers

[0, 1, 2, 3, 4, 99, 123, 321]

In [66]:
# pop() : 마지막 요소를 반환하고 제거

numbers.pop()

321

In [67]:
numbers

[0, 1, 2, 3, 4, 99, 123]

In [68]:
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거

numbers.pop(2)

2

In [69]:
numbers

[0, 1, 3, 4, 99, 123]

In [70]:
numbers = [1, 1, 1, 2, 3, 3]
numbers

[1, 1, 1, 2, 3, 3]

In [71]:
# remove(요소값) : 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

numbers.remove(2)
numbers

[1, 1, 1, 3, 3]

========================================================================================================================================================

In [72]:
# 리스트 슬라이싱
# 리스트[시작 인덱스 : 종료 인덱스] : 시작 인덱스 요소부터 종료 인덱스 앞까지 요소를 묶어서 리스트로 반환

In [73]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [74]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [76]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

========================================================================================================================================================

In [77]:
# 연습문제
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [7]:
# 1번

names = ['김이준', '이서화', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [79]:
# 2번

names.append('한시우')
names

['김이준', '이서화', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [80]:
# 3번

names.remove('최이서')
names

['김이준', '이서화', '박도윤', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [81]:
# 4번

new_name = names[4:9]
new_name

['강아윤', '조은우', '윤지아', '장서준', '임하윤']

========================================================================================================================================================

In [ ]:
# 리스트 복수 할당
# 변수를 ','로 구분하여 대입 연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입할 수 있음

In [1]:
numbers = [1, 2, 3]

In [3]:
number1, number2, number3 = numbers
print(f'{number1}{number2}{number3}')

123

In [4]:
# 만약 복수 할당할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
number1, number2 = numbers

ValueError: too many values to unpack (expected 2)

========================================================================================================================================================

In [ ]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어 주는 내장 함수

In [5]:
enumerate(numbers)

In [6]:
for index, item in enumerate(numbers):
    print(f'인덱스 : {index}, 요소 : {item}')

인덱스 : 0, 요소 : 1
인덱스 : 1, 요소 : 2
인덱스 : 2, 요소 : 3

========================================================================================================================================================

In [ ]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [8]:
names

['김이준', '이서화', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [9]:
scores = [70, 85, 60, 55, 90, 100, 100, 65, 75, 40]
scores

[70, 85, 60, 55, 90, 100, 100, 65, 75, 40]

In [11]:
# 튜플 : 괄호로 나타나는 것 
name_scores = list(zip(names, scores))
name_scores

[('김이준', 70),
 ('이서화', 85),
 ('박도윤', 60),
 ('최이서', 55),
 ('정하준', 90),
 ('강아윤', 100),
 ('조은우', 100),
 ('윤지아', 65),
 ('장서준', 75),
 ('임하윤', 40)]

In [ ]:
# 연습문제
# x = [['길동', 90], ['철수', 80], ['영수', 70], ['방자', 60]]
# 복수 할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성하시오.

In [135]:
x = [['길동', 90], ['철수', 80], ['영수', 70], ['방자', 60]]

r_x = list(zip(*x))
r_x

[('길동', '철수', '영수', '방자'), (90, 80, 70, 60)]

In [53]:
x_names, x_scores = r_x
x_names

('길동', '철수', '영수', '방자')

In [55]:
x_names, x_scores = r_x
x_names = list(x_names)
x_names

['길동', '철수', '영수', '방자']

========================================================================================================================================================

In [ ]:
# 중첩 리스트
# 요소로 리스트를 가지고 있는 리스트

In [12]:
overlappings = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

overlappings

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
overlappings[0]

[1, 2, 3]

In [14]:
overlappings[0][1]

2

In [15]:
items = overlappings[0] # overlappings[0] 
items

[1, 2, 3]

In [16]:
items[1] # overlappings[0][1]

2

In [ ]:
# 연습문제
# 평균 평점 구하는 함수 (리스트의 리스트 문제)
# 함수의 매개변수로 grades, credits 리스트를 입력받고
# 평균 평점 gpa를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1을 반환하시오.

In [26]:
def getGpa(grades, credits):
    if len(grades) != len(credits):
        return -1
    
    credits_sum = 0 # 이수 학점의 총합
    weight_sum = 0 # 가중 총 합

    for index in range(len(grades)):
        credits_sum += credits[index]
        weight_sum += credits[index] * grades[index]
    
    # 평균 평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum, 2)
    return gpa

In [27]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]

getGpa(grades, credits)

3.36

In [30]:
# zip 함수를 시용한 문제 풀이

def getGpa(grades, credits):
    if len(grades) != len(credits):
        return -1
    
    credits_sum = 0 # 이수 학점의 총합
    weight_sum = 0 # 가중 총 합

    # [(4,3),(3,3),(2,1),(3,2),(4,2)]
    for grade, credit in zip(grades, credits):
        credits_sum += credit
        weight_sum += credit * grade
    
    # 평균 평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum, 2)
    return gpa

In [31]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]

getGpa(grades, credits)

3.36

========================================================================================================================================================

In [ ]:
# 딕셔너리
# Key, Value를 하나의 쌍으로 관리하는 자료형
# 순서가 존재하지 않고 Key는 중복을 허용하지 않으며, Value는 중복될 수 있음
# 딕셔너리 변수 = {key1 : value1, key2 : value2, ..... }
# key는 어떠한 자료형이든 가능

In [61]:
eng_dictionary = {'apple' : '사과', 'banana' : '바나나', 'carrot' : '당근'}
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [ ]:
# 딕셔너리의 특정 요소에 접근할 때는 딕셔너리 변수[key]로 값을 가져올 수 있음

In [62]:
eng_dictionary['apple']

'사과'

In [59]:
eng_dictionary[0] # 인덱스로 접근 불가

KeyError: 0

========================================================================================================================================================

In [ ]:
# 딕셔너리 자료 쌍의 개수
# len(딕셔너리 변수)를 사용하여 자료 쌍의 개수를 구할 수 있음

In [63]:
len(eng_dictionary)

3

In [ ]:
# 딕셔너리 자료 value 변경
# 딕셔너리[key] = 변경할 값

In [64]:
eng_dictionary['banana'] = '버네너'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근'}

In [ ]:
# 딕셔너리 요소 추가
# 딕셔너리 변수[추가할 key] = 추가할 값

In [66]:
eng_dictionary['delete'] = '삭제'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [ ]:
# 딕셔너리의 update 메서드
# 추가, 수정 작업을 딕셔너리로 지정하여 작업하는 것

In [67]:
eng2_dictionary = {'banana' : '바나나', 'electricity' : '전기'}
eng2_dictionary

{'banana': '바나나', 'electricity': '전기'}

In [69]:
# update 사용시 원래 요소에 있는 key의 value값은 변경, 새로 추가되는 key의 value는 추가됨 
eng_dictionary.update(eng2_dictionary)
eng_dictionary

{'apple': '사과',
 'banana': '바나나',
 'carrot': '당근',
 'delete': '삭제',
 'electricity': '전기'}

In [ ]:
# 딕셔너리 요소 삭제
# del 명령어를 사용하여 제거
# pop() 메서드를 사용하여 추출

In [75]:
del eng_dictionary['electricity']
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [73]:
eng_dictionary.pop('delete')

'삭제'

In [74]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

========================================================================================================================================================

In [ ]:
# 반복가능 객체에 요소 존재여부 확인
# in 연산자를 통해서 특정 요소가 해당 객체에 존재하는지 여부 확인 가능

In [76]:
numbers

[1, 2, 3]

In [77]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [78]:
1 in numbers # numbers 리스트에 1이 존재하기 때문에 True 반환

True

In [79]:
5 in numbers # numbers 리스트에 5가 존재하지 않기 때문에 False 반환

False

In [80]:
'carrot' in eng_dictionary # eng_dictionary 리스트에 carrot이 존재하기 때문에 True 반환

True

========================================================================================================================================================

In [ ]:
# 딕셔너리를 반복문에서 사용
# key만 사용 : for key in 딕셔너리.keys():
# value만 사용 : for value in 딕셔너리.values():
# key와 value를 모두 사용 : for key, value in 딕셔너리. items():

# keys() : 딕셔너리의 key 값들을 튜플로 반환
# values() : 딕셔너리의 value 값들을 튜플로 반환
# items() : 딕셔너리의 key, value 쌍들을 튜플로 반환

In [81]:
for key in eng_dictionary.keys():
    print(key)

apple
banana
carrot

In [83]:
for value in eng_dictionary.values():
    print(value)

사과
바나나
당근

In [85]:
for key, value in eng_dictionary.items():
    print(f'key : {key}, value : {value}')

key : apple, value : 사과
key : banana, value : 바나나
key : carrot, value : 당근

In [132]:
# 연습문제

data = {'철수' : 98, '영희' : 80, '순이' : 100, '돌이' : 70}

In [134]:
sum = 0

for key, value in data.items():
    print(f'{key}\t{value}')
    sum += value
avg = round(sum / len(data))

print('=============')

print(f'평균\t{avg}')

# sum = 0

# for value in data.values():
#         sum = sum + value
#         avg = round(sum / len(data))
# print(f'평균\t{avg}')

철수	98
영희	80
순이	100
돌이	70
=============
평균	87