In [ ]:
# 반복문
# for 반복문 : 반복할 횟수가 정해져있는 반복 작업에서 사용
# for 변수 in range(반복횟수):
#   반복할 실행문

In [14]:
# for (int index = 0; index < 5; index++) => 자바에서 쓰는 for문이랑 파이썬에서 쓰는 for문이랑 완전 다른 개념

# int[] array = {0, 1, 2, 3, 4}; => 파이썬에서의 for문의 의미
# for (int index : array) {}
# range(정수): 0부터 (정수-1)까지의 정수 리스트 생성
# range(시작 정수, 종료 정수) : 시작 정수부터 종료 정수까지의 정수 리스트 생성
# range(시작 정부, 종료 정수, 차이) : 시작 정수부터 (종료 정수-1)까지의 정수 리스트를 생성하는데 차이정수 만큼의 차이를 가지면서 변경됨
print(list(range(5)))

for index in range(5):
    print(index)
    print('반복 실행문')

for index in range(5, 10):
    print(index)

for index in range(5, 10, 3):
    print(index)

for index in range(10, -1, -1):
    print(index)

[0, 1, 2, 3, 4]
0
반복 실행문
1
반복 실행문
2
반복 실행문
3
반복 실행문
4
반복 실행문
5
6
7
8
9
5
8
10
9
8
7
6
5
4
3
2
1
0

In [68]:
# 연습문제

for star in range(11):
    print('*' * star)

*
**
***
****
*****
******
*******
********
*********
**********

In [58]:
for star in range(1,11):
    print('*' * star)

*
**
***
****
*****
******
*******
********
*********
**********

In [17]:
for star in range(10, -1, -1):
    print('*' * star)

**********
*********
********
*******
******
*****
****
***
**
*

In [67]:
for star in range(20):
   if star <= 10:
       print('*' * star)
   else:
       print('*' * (20 - star))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [96]:
for star in range(1, 12):
    if star <= 6:
        print(' ' * (6 - star) + '*' * (star * 2 - 1)) # 1, 3, 5, 7, 9, 11
    else:
        print(' ' * (star - 6) + '*' * ((12 - star) * 2 - 1)) # 9, 7, 5, 3, 1

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [99]:
for count in range(1, 12):
    star = '*'    
    if count <= 6:
        star = '*' * (count * 2 - 1)        
    else:
        star =  '*' * ((12 - count) * 2 - 1)

    print(f'{star:^11}')

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
# 중첩 for문

In [100]:
# 0 1 2 3
# 1 2 3 4
# 2 3 4 5 
# 3 4 5 6

for a in range(4):
    for b in range(4):
        print(a + b, end = ' ') # end : 끝에 띄워쓰기 넣어라
    print('')

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [101]:
for start in range(4):
    for value in range(start, start + 4):
        print(value, end=' ')
    print('')

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [3]:
# 주사위 두 번 던져서 나온 숫자들이 합이 4의 배수가 되는 경우
# 주사위를 두번 돌리는데 a 주사위의 값이랑 b 주사위의 값을 합쳐서 4로 나눴을 때 0이면 결과를 반환

for a in range(1, 7):
    for b in range(1, 7):
        if (a + b) % 4 == 0:
            print(f'{a} {b}')

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [5]:
# 연습문제
# 주식의 가격

for a in range(2):
    for b in range(2):
        for c in range(2):
            for d in range(2):
                print(1024 * 2**(2 * a - 1) * 2**(2 * b - 1) * 2**(2 * c - 1) * 2**(2 * d - 1))

64.0
256.0
256.0
1024.0
256.0
1024.0
1024.0
4096.0
256.0
1024.0
1024.0
4096.0
1024.0
4096.0
4096.0
16384

In [35]:
for count in range(1, 11):
    sum = 0
    for value in range(count):
        sum += value
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [44]:
sum = 0

for count in range(1, 11):
    for value in range(count + 1):
        sum += value
print(sum)

220